:root {
  --secondary-bg-color: rgb(230, 228, 228);
  --primary-bg-color: #333;
  --secondary-txt-color: white;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: grey
}

.header{
  display:flex;
  align-items: center;
  justify-content: center;
  width:100%;
  position: sticky; top: 0;
  border-bottom: 1px solid #E2E8F0;
  z-index: 10;
  background-color: var(--primary-bg-color)
}

nav img{
  width:40px;
  margin-right: 10px;
}
.navbar {
  width:60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link{
  margin: 0;
  padding: 0;
  color: var(--secondary-txt-color);
}

.nav-link:hover{
  color: #482ff7;
}

.nav-logo {
  color: #482ff7;
}


body div#app{
  margin:0;
  height:100vh;
  display:flex; 
  flex-direction:column;
  align-items: center;
  justify-content: space-between;
}


.page{
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerFront{
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3vw 0 3vw;
  justify-content:center;
}

.titlePage{
  display: flex;
  margin: 0 0 3vw 0;
  animation: fadeIn 3s;
}

.citation{
  display:flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 30px;
  box-shadow: 8px 8px 12px 1px #9E9E9E;
  padding: 3vw;
  animation: fadeIn 3s;
}

.citation h3{
  margin-bottom: 3vw
}

.quote h1:nth-child(3){
  text-align: right
}

.quote p{
  margin: 0;
  padding:0;
}

.quote h5{
  font-style: italic;
  padding: 0 3vw 0 3vw
}

.list {
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 3vw 3vw; 
  grid-template-areas: 
    ". ."
    ". ."
    ". ."; 
}

footer {
  width:100%;
  background-color: var(--primary-bg-color);
  color: gainsboro;
  text-align: center;
}

.paginatorDiv{
  margin-top: 4vw;
}

.authorQuotesList {
  display:flex;
  flex-direction: column;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@media only screen and (max-width: 768px) {
  .nav-menu {
      position: fixed;
      left: -100%;
      top: 5rem;
      flex-direction: column;
      background-color: #fff;
      width: 100%;
      border-radius: 10px;
      text-align: center;
      transition: 0.3s;
      box-shadow:
          0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
      left: 0;
  }

  .nav-item {
      margin: 2.5rem 0;
  }

  .hamburger {
      display: block;
      cursor: pointer;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

}
